body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #c2c2d6;
	color: white;
	font-size: 18px;
	font-weight: bold;
	user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#calculator {
	background-color: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	height: 400px;
	padding: 10px;
}

#display-area {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top: 8px;
	margin-bottom: 2px;
}

#expression {
	color: orange;
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

#display {
	font-size: 30px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.keys-container {
	height: 340px;
}

.key,
.clear .equals {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.key:hover,
.clear:hover,
.equals:hover {
	color: black;
	outline: 0.05em solid grey;
}

.equals {
	height: 100%;
	background-color: #004466;
}

.clear {
	width: 100%;
	background-color: #ac3938;
}

.numbers,
.decimal {
	background-color: #4d4d4d;
}

.operators {
	background-color: #666666;
}

.credits {
	text-align: center;
	font-size: 15px;
	color: black;
	margin: 0;
}
.credits-top {
	margin-top: 23px;
	margin-bottom: 5px;
}

.keys-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 1px;
	grid-template-areas:
		"clear clear divide multiply"
		"seven eight nine subtract"
		"four five six add"
		"one two three equals"
		"zero zero decimal equals";
}

.clear {
	grid-area: clear;
}

.divide {
	grid-area: divide;
}

.multiply {
	grid-area: multiply;
}

.seven {
	grid-area: seven;
}

.eight {
	grid-area: eight;
}

.nine {
	grid-area: nine;
}

.subtract {
	grid-area: subtract;
}

.four {
	grid-area: four;
}

.five {
	grid-area: five;
}

.six {
	grid-area: six;
}

.add {
	grid-area: add;
}

.one {
	grid-area: one;
}

.two {
	grid-area: two;
}

.three {
	grid-area: three;
}

.equals {
	grid-area: equals;
}

.zero {
	grid-area: zero;
}

.decimal {
	grid-area: decimal;
}
